$brand-warning: #F8AD47;
$brand-primary: #53CCD7;
$brand-danger: #FF3956;

$btn-warning-color-dark: darken($brand-warning, 25%);
$btn-danger-color-dark: darken($brand-danger, 25%);

$btn-form-control-focus-dark: $btn-warning-color-dark;
